<div class="main w-100" style="position: absolute; top: 15%;">
    <div class="row" style="left: 30%; position: relative;">
        @{
            Tire newTire = new Tire();
        }
        <partial name="_New" model="@newTire"></partial>
    </div>
</div>