@model SelectCustomer
    <div class="col-lg-3">
        <h1>Search Customer</h1>
        <form asp-controller="Customers" asp-action="Select" method="POST">
            <div class="mb-3">
                <label asp-for="SelectPhone"></label>
                <span
                asp-validation-for="SelectPhone"
                class="text-danger font-weight-bold"
                ></span>
                <input asp-for="SelectPhone" class="form-control" />
            </div>
            <button class="btn btn-outline-primary">Search Customer</button>
        </form>
    </div>
